<%- include('partials/_header') -%>
<body>

  <%- include('partials/_navbar') -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1><%= post.title %></h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">Start Bootstrap</a>
              on <%= post.dateCreated %></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>
            <%= post.detail %>
          </p>
          <a href="/post/edit/<%= post._id %>" class="btn btn-warning">Edit Post</a>
          <a href="/post/<%= post._id %>?_method=DELETE" class="btn btn-danger" onclick="return confirm('ARE YOU SURE?')">Delete Post</a>
        </div>
      </div>
    </div>
  </article>

  <hr>

  <%- include('partials/_footer') -%>
</body>

</html>
